.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.header_icon{
    object-fit: contain;
    height: 6.25rem;
    margin-left: 3%;
}

.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: .625rem;
    height: 1.8rem;
    border: 1px solid lightgray;
    border-radius: 62.4rem;
}
.header_center input{
    border: none;
    padding: .625rem;
    outline-width: 0;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 5rem;
}

.header_right button{
    display: flex;
    border: 1px solid gray;
    border-radius: 3.1rem;
    background-color: white;
}

@media (max-width : 750px){
    .header_icon{
        display: none;
    }
    .header_right{
        display: none;
    }
    .header_center input{
        width: 80vw;
    }
}