.mobile{
    display: flex;
    padding-left: 3.125rem;
    padding-top: .625rem;
    padding-bottom: .18rem;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    background-color: white;
    justify-content: center;
}
.mobile div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
